{{ define "main" }}
<!Doctype html>
<html>
<head>
<meta charset="utf-8">
</head>

<body class="bg-light">
    <script async src="https://cse.google.com/cse.js?cx=602657ab3079e4a3a"></script>
    <div class="container-fluid" style="margin-top:4em">
        <div class="row d-flex justify-content-center">
         <div class="col-lg-8 col-md-4 col-sm-3">
          <form method="get">
          <div class="input-group mb-3">
              <input type="text" class="form-control" name=q placeholder="Search...." aria-describedby="button-addon2" data-enablehistory=true data-autocompletemaxcompletion=5 data-autocompletematchtype=any>
            <button class="btn btn-secondary" type=submit id="button-addon2" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffff" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg></button>
          </div>
          </form>
         </div>
        </div>
      </div>
      <div class="container">
       <div class="row">
       <div class="gcse-searchresults-only"></div>
       </div>
      </div>
</body>
</html>
{{ end }}
